* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.intro {
  background-image: url(../images/Intro.jpg);
}

.side_menu {
  width: 300px;
  z-index: 10;
  background: rgba(33,20,1,1);
  background: -moz-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,20,1,1)), color-stop(6%, rgba(166,105,13,1)), color-stop(49%, rgba(194,133,43,1)), color-stop(95%, rgba(166,105,13,1)), color-stop(100%, rgba(20,12,1,1)));
  background: -webkit-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  background: -o-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  background: -ms-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  background: linear-gradient(to right, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211401', endColorstr='#140c01', GradientType=1 );
}

.clock {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  padding: 2rem;
}

.clock-face {
  background-image: url(../images/ClockFace.png);
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
}

.hand {
  position: absolute;
  transition: all 0.05s forward;
  transition-timing-function: cubic-bezier(0.1, 2.01, 1,-0.18);
}

.hour {
  top: 21%;
  left: 21%;
  height: 140px;
  width: 140px;
  background-image: url(../images/HourHand.png);
  background-size: cover;
}

.minutes {
  top: 15%;
  left: 18%;
  height: 160px;
  width: 160px;
  background-image: url(../images/MinuteHand.png);
  background-size: cover;
}

.seconds {
  top: 16%;
  left: 18%;
  height: 160px;
  width: 120px;
  transform-origin: 65%;
  background-image: url(../images/SecondHand.png);
  background-size: cover;
}

.about {
  background-image: url(../images/AboutMe.jpg);
}

.projects {
  background-image: url(../images/Projects.jpg);
}

.progress {
  background-image: url(../images/Progress.jpg);
}
