
@font-face {
    font-family: 'chopin_scriptregular';
    src: url('../fonts/chopinscript-webfont.woff2') format('woff2'),
         url('../fonts/chopinscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
}

section {
  height: 100vh;
  min-width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.side_menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  z-index: 10;
  transform: translate(0);
  overflow-x: hidden;
  transition: 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: rgba(33,20,1,1);
  background: -moz-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,20,1,1)), color-stop(6%, rgba(166,105,13,1)), color-stop(49%, rgba(194,133,43,1)), color-stop(95%, rgba(166,105,13,1)), color-stop(100%, rgba(20,12,1,1)));
  background: -webkit-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  background: -o-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  background: -ms-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  background: linear-gradient(to right, rgba(33,20,1,1) 0%, rgba(166,105,13,1) 6%, rgba(194,133,43,1) 49%, rgba(166,105,13,1) 95%, rgba(20,12,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211401', endColorstr='#140c01', GradientType=1 );
}

.hide_menu {
  transform: translate(-300px);
  overflow-x: hidden;
}

.clock {
  width: 240px;
  height: 240px;
  margin: 2rem auto 0 auto;
  position: relative;
}

.clock-face {
  background-image: url(../images/ClockFace.png);
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
}

.hand {
  position: absolute;
  transition: all 0.05s forward;
  transition-timing-function: cubic-bezier(0.1, 2.01, 1,-0.18);
}

.hour {
  top: 21%;
  left: 21%;
  height: 140px;
  width: 140px;
  background-image: url(../images/HourHand.png);
  background-size: cover;
}

.minutes {
  top: 15%;
  left: 18%;
  height: 160px;
  width: 160px;
  background-image: url(../images/MinuteHand.png);
  background-size: cover;
}

.seconds {
  top: 16%;
  left: 18%;
  height: 160px;
  width: 120px;
  transform-origin: 65%;
  background-image: url(../images/SecondHand.png);
  background-size: cover;
}

.menu {
  ul{
    a {
      text-decoration: none;
      li {
        font-size: 2em;
        padding-left: 1.2em;
        color: #000;
        line-height: 1.5em;
        text-decoration: none;
      }
    }
    li:hover{
      letter-spacing: 2px;
      background: rgba(33,20,1,1);
background: -moz-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(67,154,0,1) 6%, rgba(151,219,1,1) 51%, rgba(67,154,0,1) 95%, rgba(20,12,1,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,20,1,1)), color-stop(6%, rgba(67,154,0,1)), color-stop(51%, rgba(151,219,1,1)), color-stop(95%, rgba(67,154,0,1)), color-stop(100%, rgba(20,12,1,1)));
background: -webkit-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(67,154,0,1) 6%, rgba(151,219,1,1) 51%, rgba(67,154,0,1) 95%, rgba(20,12,1,1) 100%);
background: -o-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(67,154,0,1) 6%, rgba(151,219,1,1) 51%, rgba(67,154,0,1) 95%, rgba(20,12,1,1) 100%);
background: -ms-linear-gradient(left, rgba(33,20,1,1) 0%, rgba(67,154,0,1) 6%, rgba(151,219,1,1) 51%, rgba(67,154,0,1) 95%, rgba(20,12,1,1) 100%);
background: linear-gradient(to right, rgba(33,20,1,1) 0%, rgba(67,154,0,1) 6%, rgba(151,219,1,1) 51%, rgba(67,154,0,1) 95%, rgba(20,12,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211401', endColorstr='#140c01', GradientType=1 );
    }
    hr {
      // color: #7b5207;
      // background-color: #7b5207;
      border:none;
      border-top: 1px #6b4207 solid;
      border-bottom: .5px #ccc solid;
      height: 1px;
    }
  }
}

.socialmedia {
  display: flex;
  justify-content: center;
  img {
    height: 30px;
    width: 30px;
    padding: .2rem;
    margin: .3rem;
    box-shadow: 0 0 0 1.5px #ccc;
    border: 1.5px #6b4207 solid;
    border-radius: 50%;
  }
  img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 .5px #97db01;
    border: 1px #77bb01 solid;
    border-radius: 50%;
    // background-color: #77bb01;
    background: rgba(151,219,1,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(151,219,1,1) 0%, rgba(151,219,1,1) 18%, rgba(67,154,0,1) 64%, rgba(33,20,1,1) 95%, rgba(33,20,1,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(151,219,1,1)), color-stop(18%, rgba(151,219,1,1)), color-stop(64%, rgba(67,154,0,1)), color-stop(95%, rgba(33,20,1,1)), color-stop(100%, rgba(33,20,1,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(151,219,1,1) 0%, rgba(151,219,1,1) 18%, rgba(67,154,0,1) 64%, rgba(33,20,1,1) 95%, rgba(33,20,1,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(151,219,1,1) 0%, rgba(151,219,1,1) 18%, rgba(67,154,0,1) 64%, rgba(33,20,1,1) 95%, rgba(33,20,1,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(151,219,1,1) 0%, rgba(151,219,1,1) 18%, rgba(67,154,0,1) 64%, rgba(33,20,1,1) 95%, rgba(33,20,1,1) 100%);
background: radial-gradient(ellipse at center, rgba(151,219,1,1) 0%, rgba(151,219,1,1) 18%, rgba(67,154,0,1) 64%, rgba(33,20,1,1) 95%, rgba(33,20,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97db01', endColorstr='#211401', GradientType=1 );
  }
}

.intro {
  background-image: url(../images/Intro.jpg);
  width: 100%;
  h2 {
    font-family: 'chopin_scriptregular', sans-serif;
  }
  h3 {
    font-family: 'chopin_scriptregular', sans-serif;
  }
}

.about {
  background-image: url(../images/AboutMe.jpg);
}

.projects {
  background-image: url(../images/Projects.jpg);
}

.contact {
  background-image: url(../images/Progress.jpg);
}

.container {
  height: 100vh;
  margin: 0 40px 0 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project_wrapper {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  min-width: 300px;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.35);
}
